body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 2000px;
}

/*Layout*/
body {
    padding-top: 0;
}
.body-content {
    margin: 10px;
    padding: 10px;
    width: 100%;
}
/*Account*/
#login-form {
    margin:30px auto;
    text-align:center;
    width:500px;
    background-color:whitesmoke;
    border:1px solid gray;
    padding-bottom:20px;
}

#login-form input {
    width:50%;
}

#login-form button {
    width:50%;
}

#menu-main-content a {
    margin-bottom:5px;
    width:100%;
}
/*Home*/
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.conversion-main-content {
    width:100%;
    margin:20px;
}

/*Group*/
.group-main-content {
    margin-top: 20px;
    width: 100%;
}

.group-main-preview {
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid gray;
    padding: 0px 30px 30px 30px;
}
/*Schedule*/
.schedule-preview-content{
    margin-top:20px;
    background-color:whitesmoke;
    padding:20px;
    border:1px solid gray;
}

.navbar-edited {
    margin: 0;
    width: 100%;
    background-color: #1c5882;
}

